#include "help.h"
#include "menu.h"

//  Help table definition

HELPTABLE   COMSCOPE_HELP_TABLE
 {
 HELPITEM   IDM_COMSCOPE, SUBTABLE_COMSCOPE, HLPP_GENERAL
 }

//  Main window subtable, includes menu item help

HELPSUBTABLE SUBTABLE_COMSCOPE
SUBITEMSIZE     2
  {
  /*
  **   FILE SUBMENU
  */
  HELPSUBITEM     IDM_FILE,                   HLPP_FILE
  HELPSUBITEM     IDM_LOADDAT,                HLPP_FILE_LOAD
  HELPSUBITEM     IDM_SAVEDAT,                HLPP_FILE_SAVE
  HELPSUBITEM     IDM_SAVEDATAS,              HLPP_FILE_SAVEAS
  HELPSUBITEM     IDM_EXIT,                   HLPP_FILE_EXIT
  /*
  **   ACTION SUBMENU
  */
  HELPSUBITEM     IDM_ACTION,                 HLPP_ACTION
  HELPSUBITEM     IDM_MSTREAM,                HLPP_ACT_CAPTURE
  HELPSUBITEM     IDM_MDISPLAY,               HLPP_ACT_DISPLAY
  HELPSUBITEM     IDM_VIEWDAT,                HLPP_ACT_EXAMINE
  /*
  **   OPTIONS SUBMENU
  */
  HELPSUBITEM     IDM_OPTION,                 HLPP_OPTIONS
  HELPSUBITEM     IDM_BUFFSIZE,               HLPP_OPT_CAP_BUFF
  HELPSUBITEM     IDM_MSLEEP,                 HLPP_OPT_CAP_UPDATE
  HELPSUBITEM     IDM_TOGGLE_FORMAT,          HLPP_OPT_FORMAT
  HELPSUBITEM     IDM_ROWS,                   HLPP_OPT_FORMAT_LEX
  HELPSUBITEM     IDM_COLUMNS,                HLPP_OPT_FORMAT_TIME
  HELPSUBITEM     IDM_STICKY_MENUS,           HLPP_OPT_STICK
  HELPSUBITEM     IDM_MANAGE_CFG,             HLPP_OPT_PROFILE
  /*
  **   DEVICE SUBMENU
  */
  HELPSUBITEM     IDM_DEVICE,                 HLPP_DEVICE
  HELPSUBITEM     IDM_SSELECT,                HLPP_DEV_SELECT
  HELPSUBITEM     IDM_INSTALL,                HLPP_DEV_INSTALL
  HELPSUBITEM     IDM_STATUS,                 HLPP_DEV_STATUS
  HELPSUBITEM     IDM_SETUP,                  HLPP_DEV_CONTROL
  HELPSUBITEM     IDM_IOCTL,                  HLPP_DEV_PROTOCOL
  /*
  **   HELP SUBMENU
  */
  HELPSUBITEM     IDM_HELP,                   HLPP_HELP
  HELPSUBITEM     IDM_HELPINDEX,              HLPP_HELPINDEX
  HELPSUBITEM     IDM_HELPEXTEND,             HLPP_HELPEXTEND
  HELPSUBITEM     IDM_HELPFORHELP,            HLPP_HELPFORHELP
  }


