#include "ioctl.h"

STRINGTABLE PRELOAD MOVEABLE DISCARDABLE
BEGIN
  IC_ATM_IOCTL, "Device I/O Control error"
  IC_ATM_FUNCTION, "Function = "
  IC_ATM_ERRORCD, "Error code = "
  IC_ATM_BAUDRD, "Getting baud rate"
  IC_ATM_BAUDWRT, "Setting baud rate"
  IC_ATM_DCBRD, "Reading DCB"
  IC_ATM_DCBWRT, "Writing DCB"
  IC_ATM_LINERD, "Getting Line characteristics"
  IC_ATM_LINEWRT, "Setting Line characteristics"
  IC_ATM_MDMSET, "Setting MODEM signals"
  IC_ATM_MDMGET, "Getting MODEM signals"
  IC_ATM_COMEVENTS, "Getting COM events"
  IC_ATM_COMEVENT, "Getting COM event"
  IC_ATM_COMERROR, "Getting COM error"
  IC_ATM_XMITSTAT, "Getting transmit status"
  IC_ATM_COMSTAT, "Getting COM status"
  IC_ATM_BRKON, "Setting break on"
  IC_ATM_BRKOFF, "Setting break off"
  IC_ATM_RCVQLEN, "Getting receive queue length"
  IC_ATM_TXQLEN, "Getting transmit queue length"
  IC_ATM_FXON, "Forcing Xon"
  IC_ATM_FXOFF, "Forcing Xoff"
  IC_ATM_FLUSH, "Flushing COM buffer"
  IC_ATM_TXIMM, "Transmitting byte immediate"
  IC_ATM_GET_FIFO, "Getting FIFO information"
  IC_ATM_SET_FIFO_LOAD, "Setting FIFO configuration"
  IC_ATM_ERRMSG_INVALID_PARAM, "Invalid parameter"
  IC_ATM_ERRMSG_GEN_FAIL, "General Failure"
  IC_ATM_ERRMSG_BAD_COMMAND, "Invalid DosDevIOCtl function"
  IC_ATM_ERRMSG_UNKNOWN_ERROR, "Unknown error code"
  IC_ATM_GET_DIAG_COUNTS, "Getting throughput counts"
END
