#include "menu.h"

#define INCL_PM
#define INCL_NLS

#include <os2.h>

MENU IDM_SERIAL PRELOAD
BEGIN
  MENUITEM "~Device", IDM_SELECT, MIS_TEXT
  SUBMENU       "~Action",   IDM_PROCESS
  BEGIN
    MENUITEM    "Install Port",   IDM_INSTALL, MIS_TEXT
    MENUITEM    "Setup Port",       IDM_SETUP, MIS_TEXT
    MENUITEM    "Query Port",       IDM_QUERY, MIS_TEXT
    MENUITEM    "Remove Port",       IDM_REMOVE, MIS_TEXT
    MENUITEM    "Terminate Port",       IDM_TERM, MIS_TEXT
    MENUITEM    "Initialize Port",       IDM_INIT, MIS_TEXT
    MENUITEM    "Get Port Icon",       IDM_GETICON, MIS_TEXT
    MENUITEM    "Recover USER Ini",   IDM_RECOVER_USER_INI, MIS_TEXT
    MENUITEM    "Recover SYSTEM Ini",   IDM_RECOVER_SYS_INI, MIS_TEXT
  END
  MENUITEM  "E~xit",   IDM_EXIT, MIS_TEXT
END

ICON       IDM_SERIAL PRELOAD COMspool.ICO

ACCELTABLE IDM_SERIAL  PRELOAD
BEGIN
   VK_F3, IDM_EXIT,   VIRTUALKEY
END

DLGTEMPLATE PS_DLG
BEGIN
	DIALOG "", PS_DLG, 93, 57, 123, 52, FS_ICON | FS_NOMOVEWITHOWNER | FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
		CONTROL "COM1", PS_NAME_LIST, 67, -53, 42, 90, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_SBCS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 11, 5, 42, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "CANCEL", DID_CANCEL, 67, 5, 43, 14, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		LTEXT "Device Name ", DID_NULL, 7, 27, 58, 8, SS_TEXT | DT_RIGHT | DT_VCENTER | WS_VISIBLE | NOT WS_GROUP
		CTEXT "Select DOS Device Name", DID_NULL, 4, 41, 111, 8, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | NOT WS_GROUP
	END

END


